.DS_Store
node_modules
/dist
*.zip

__pycache__
.venv

# local env files
.env.local
.env.*.local
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.ipynb_checkpoints/*
flask-backend/record.log
flask-backend/uploads
.qodo
config_*.json